[submodule "references/rbs"]
	path = references/rbs
	url = https://github.com/ruby/rbs.git
[submodule "references/python-typing"]
	path = references/python-typing
	url = git@github.com:python/typing.git
[submodule "references/TypeScript-Website"]
	path = references/TypeScript-Website
	url = https://github.com/microsoft/TypeScript-Website.git
	branch = v2
[submodule "references/phpstan"]
	path = references/phpstan
	url = https://github.com/phpstan/phpstan.git
	branch = 2.2.x
[submodule "references/rbs-inline-wiki"]
	path = references/rbs-inline-wiki
	url = https://github.com/soutaro/rbs-inline.wiki.git
[submodule "references/steep"]
	path = references/steep
	url = git@github.com:soutaro/steep.git
[submodule "references/ruby"]
	path = references/ruby
	url = https://github.com/ruby/ruby.git
	branch = ruby_4_0
